// Specific CSS for your home-page
h1 {
  justify-content: center;
  color: white;
}

p {
  justify-content: center;
  color: white;
}

body {
  background: url('/assets/Workingout.jpeg');
  background-size: cover;
}
