// Specific CSS for your home-page
h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

html {
  background: url(images/workingout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
