<h1>Kym's Gyms</h1>
<p>Kym’s Gyms connects you to a community of local personal trainers, who are here to help kick-start your health and wellness journey.</p>
<div id="bg">
  <img src="images/workingout.jpg" alt="">
</div>
