<div id="bg">
  <div class="title">
    KYMSGYMS
  </div>
  <div class="tagline">
    KYMSGYMS connects you to a community of local personal trainers,who are here to help kick-start your health and wellness journey.
  </div>
</div>
