<<<<<<< HEAD
<h1>Kym's Gyms</h1>
<p>Kym’s Gyms connects you to a community of local personal trainers, who are here to help kick-start your health and wellness journey.</p>
=======
<div id="bg">
  <h1>Kyms Gyms</h1>
  <p>Kym’s Gyms connects you to a community of local personal trainers, who are here to help kick-start your health and wellness journey.</p>
</div>
>>>>>>> f234c61185870317bcef8d798eb378b21e8490b3
