.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // background: #654ea3;
  // background: linear-gradient(to right, #e96443, #904e95);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
