<div class="container mb-4 py-3">
  <div class="d-flex w-100 justify-content-center">
    <div class="w-50 form-inputs ">
      <%= form_tag trainers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search Discipline or Level eg. Crossfit, weights, beginner, intermediate, advanced"
          %>
      <%end %>
      </div>
    <div class= "ml-2" >
      <%= submit_tag "Search", class: "xtrabtn" %>
    </div>
  </div>
</div>
